<div class="row">
  <div class="col-sm-11">
    <select #conference (change)="onConferenceChange(conference.value)">
      <option [value]="conference" *ngFor="let conference of currentConferenceOptions" >
        {{conference}}
      </option>
    </select>
    <select #division  (change)="onDivisionChange(division.value)">
      <option [value]="division" *ngFor="let division of currentDivisionOptions">
        {{division}}
      </option>
    </select>
    <select #team >
      <option [value]="toStr(team.value)" *ngFor="let team of currentTeamOptions">
        {{team.labels.team}}
      </option>
    </select>
    <button class="primary" (click)="onSelect(team.value)">Track team</button>
  </div>

</div>
